
<h1>Héroe</h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/heroes">
      <i class="fa fa-arrow-left"></i>
      {{'banner.back' | translate}}
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="save()"
          [formGroup]="heroeForm">

      <div class="form-group">
        <label>{{'banner.id' | translate}}</label>
        <input type="text"
               class="form-control"
               placeholder="{{'banner.idHero' | translate}}"
               formControlName="heroeIdFormControl"
               name="id">
        <small class="form-text text-muted">{{'banner.autoGenerate' | translate}}</small>
      </div>


      <div class="form-group">
          <label>{{'banner.name' | translate}}</label>
          <input type="text"
                 class="form-control"
                 placeholder="{{'banner.nameHero' | translate}}"
                 formControlName="heroeNameFormControl"
                 name="nombre"
                 appUppercase
                 required>
      </div>

      <div class="form-group">
          <label>{{'banner.power' | translate}}</label>
          <input type="text"
                 class="form-control"
                 formControlName="heroePowerFormControl"
                 name="poder"
                 placeholder="{{'banner.powerHero' | translate}}">
      </div>

      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          {{'banner.save' | translate}}
        </button>
      </div>

    </form>

  </div>
</div>


