<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
  <!-- <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner> -->
  <h1>cargando</h1>
</div>

<!-- <h1>{{ 'banner.hello' | translate }} {{ name }}!</h1> -->

<!-- <hello name="{{ name }}"></hello> -->
<hr>
<label>{{'banner.title' | translate}}:</label>
<br><br>
<select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">
  <option value="es-ES">Espanol</option>
  <option value="en-US">English</option>
</select>

<div class="mt-5">

  <router-outlet></router-outlet>

</div>